extends layout

block scripts
	script(src="/javascripts/lib/jquery-1.9.1.min.js")
	script(src="/javascripts/devfolio.js")
	if editingEnabled
		script(src="/javascripts/lib/jquery-ui-1.10.1.custom.min.js")
		script(src="/javascripts/lib/jcrop.min.js")
		script(src="/javascripts/lib/bootstrapSwitch.js")
		script(src="/javascripts/lib/bootstrap.min.js")
		script(src="/javascripts/edit.js")

block stylesheets
	if editingEnabled
		link(rel="stylesheet", type="text/css", href="/stylesheets/bootstrapSwitch.css")


mixin editProfileDescription
	div#edit-profile-description-modal.modal.hide.fade(aria-hidden="true", tabindex="-1")
		div.modal-header
			button.close(data-dismiss="modal", aria-hidden="true", type="button") x
			h3 Edit Description
		div.modal-body
			form.edit-profile-description-form(method="post", action="/"+req.user.username)
				textarea(name="description")= folio.description
		div.modal-footer
			button.btn(data-dismiss="modal", aria-hidden="true") Cancel
			button.btn.btn-primary.submit-profile-description Save Changes

mixin editSocial
	div#edit-social-modal.modal.hide.fade(aria-hidden="true", tabindex="-1")
		div.modal-header
			button.close(data-dismiss="modal", aria-hidden="true", type="button") x
			h3 Edit Social Links
		div.modal-body
			form.edit-social-form(method="post", action="/"+req.user.username)
			div.row-fluid
				div.span2
					h3 Service
				div.span3
					h3 Show
				div.span7
					h3 URL
			div.row-fluid.edit-social-email
				div.span2
					p 
						i.icon-envelope-alt
						|  Email
				div.span3
					div.switch.switch-mini#social-email-switch
						if req.user.social.email.display
							input(type="checkbox", checked)
						else
							input(type="checkbox")
				div.span7
					input.edit-social-input(type="text", name="", value=req.user.email, disabled)
			div.row-fluid.edit-social-github
				div.span2
					p 
						i.icon-github
						|  Github
				div.span3
					div.switch.switch-mini#social-github-switch
						if req.user.social.github.display
							input(type="checkbox", checked)
						else
							input(type="checkbox")
				div.span7
					input.edit-social-input#social-github-url(type="text", name="", value=req.user.social.github.url)
			div.row-fluid.edit-social-twitter
				div.span2
					p 
						i.icon-twitter
						|  Twitter
				div.span3
					div.switch.switch-mini#social-twitter-switch
						if req.user.social.twitter.display
							input(type="checkbox", checked)
						else
							input(type="checkbox")
				div.span7
					input.edit-social-input#social-twitter-url(type="text", name="", value=req.user.social.twitter.url)
			div.row-fluid.edit-social-linkedin
				div.span2
					p 
						i.icon-linkedin
						|  LinkedIn
				div.span3
					div.switch.switch-mini#social-linkedin-switch
						if req.user.social.linkedin.display
							input(type="checkbox", checked)
						else
							input(type="checkbox")
				div.span7
					input.edit-social-input#social-linkedin-url(type="text", name="", value=req.user.social.linkedin.url)

		div.modal-footer
			button.btn(data-dismiss="modal", aria-hidden="true") Cancel
			button.btn.btn-primary.submit-social Save Changes


block content
	div.folio
		div.container
			div.row-fluid
				div.span8.personal-info
					div.row-fluid
						h1 #{folio.firstName} #{folio.lastName}
					div.row-fluid.profile-description-container
						if editingEnabled
							i.icon-edit.icon-large.edit-profile-description
						if folio.description
							p= folio.description
						else if !folio.description && editingEnabled
							div.empty-container
								a.no-description(href="") 
									i.icon-plus
									|  Add a little about yourself here
					div.row-fluid.social-container
						- var anySocial = false;
						if editingEnabled
							i.icon-edit.icon-large.edit-social
						if folio.social.email.display
							- anySocial = true
							a.span3(href="mailto:"+folio.email)
								i.icon-envelope-alt.icon-4x
						if folio.social.github.display && folio.social.github.url
							- anySocial = true
							a.span3(href=folio.social.github.url)
								i.icon-github.icon-4x
						if folio.social.twitter.display && folio.social.twitter.url
							- anySocial = true
							a.span3(href=folio.social.twitter.url)
								i.icon-twitter.icon-4x
						if folio.social.linkedin.display && folio.social.linkedin.url
							- anySocial = true
							a.span3(href=folio.social.linkedin.url)
								i.icon-linkedin.icon-4x
						if anySocial == false && editingEnabled
							div.empty-container
								a.no-social(href="")
									i.icon-plus
									| Add a few social media links here

				div.span4.avatar-container
						if editingEnabled
							i.icon-edit.icon-large.edit-avatar
						img.avatar(src="/images/me.jpeg")

			ul.project-list
				- for (var i=0; i<7; i++)
					li.span4.project
						a(href="/hunterclarke")
							img(src="http://dummyimage.com/300x225/4d494d/686a82.gif&text=project+image")
						div.project-meta
							p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
							span.project-tag-container
								a.project-tag(href="") Ruby
							span.project-tag-container
								a.project-tag(href="") Ruby on Rails
							span.project-tag-container
								a.project-tag(href="") Javascript
							span.project-tag-container
								a.project-tag(href="") HTML5
							span.project-tag-container
								a.project-tag(href="") Node.js
				if editingEnabled
					li.span4.new-project
						a.new-project-link(href="")
							i.icon-plus-sign.icon-4x
							p.new-project-text New Project
	if editingEnabled
		mixin editProfileDescription
		mixin editSocial