extends header

block content
	div.folio
		div.container
			h1 #{folio.firstName} #{folio.lastName}
			- var count = 5
			- var rowCount = Math.floor(count / 3)
			- if (count % 3 !== 0) rowCount++
			- for (var i=0; i<rowCount; i++)
				div.row-fluid
					- var stopTab = 3
					- if (i == rowCount - 1) stopTab = 3 - ((rowCount * 3) - count)
					- for (var j=0; j<stopTab; j++)
						div.span4.project
							a(href="/hunterclarke")
								img(src="http://dummyimage.com/300x225/4d494d/686a82.gif&text=placeholder+image")
							div.project-meta
								p #{i}*3 + #{j} = #{i*3+j} Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
								span.project-tag-container
									a.project-tag(href="#") Ruby
								span.project-tag-container
									a.project-tag(href="#") Ruby on Rails
								span.project-tag-container
									a.project-tag(href="#") Javascript
								span.project-tag-container
									a.project-tag(href="#") HTML5
								span.project-tag-container
									a.project-tag(href="#") Node.js